/* GLOBAL CSS */
body {
    margin:0;
    font-family: sans-serif;
    background-color: #f9f9f9;
}

section {
    max-width: 1024px;
    margin: 0px auto;
    border: 1px solid #262627;
}

section:not(.candidateHome) {
    padding: 15px;
    box-sizing: border-box;
}

a {
    text-decoration:none;
}

input:focus{
    outline:none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #000;
    text-align:center;
}

H2 {
    margin: 0;
}

/* HOMEPAGE */

.homepage {
    min-height: 100vh;
    background-image: url('../images/bg_homepage.jpg');
    background-size: cover;
    background-position: bottom;
}

.homepage div {
    padding: 2%;
    background-color: rgba(38, 38, 39, 0.85);
    color: #fff;
    width: 30%;
    margin: 10% auto;
}

.homepage div h2 {
    text-align:center;
}

.homepage div input, .homepage div button {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    border: none;
    text-align:center;
}

.homepage div label {
    display: block;
    text-align:center;
    margin-bottom: 2%;
}

.homepage input[type=text], input[type=password] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 3px #3c3c3c inset;
}

.homepage div button {
    font-size: 1em;
    color: #fff;
    margin-top: 10%;
    padding: 2% 6%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    transition-duration: 0.5s;
}

.homepage div button:hover{
    transition-duration: 0.5s;
    padding: 2% 10%;
}

/* HEADER */

header {
    background-color: #262627;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 2% 0 2% 15%;
}

header h1 a {
    color: #fff;
}

header p {
    color: #fff;
    margin-right: 5%;
    padding: 10px 20px;
    border: 2px solid #fff;
    cursor: pointer;
    transition-duration: 0.5s;
}

header p:hover {
    transition-duration: 0.5s;
    padding: 10px 30px;
}

nav ul  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin: 1% 2%;
}

nav ul li a {
    color: #000;
    border-bottom: 2px solid rgb(255,255,255,0);
    transition-duration: 0.5s;
    padding-bottom: 5px;
}

nav ul li a:hover {
    transition-duration: 0.5s;
    border-bottom: 2px solid black;
}

/* DASHBOARD */

/* MEETING */

/* CANDIDATE HOME */

.articleForm.createCandidate {
    background-color: #262627;
    color: #f5f5f5;
    padding: 2%;
}

.articleForm.columns-disabled form {
    padding: 20px 0px;
    margin: 0 auto 50px auto;
}


.articleForm form label {
    display: inline-block;
    width: 175px;
    text-align: right;
    margin: 0px 5px 10px 0px;
}

.articleForm form input, select, textarea {
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px 5px 3px 5px;
    border-radius: 4px;
    background-color: #f5f5f5;    
}


.articleForm select {width: 212px;}

.articleForm form button {
    display: block;
    background-color: rgb(255,255,255,0);
    color: #262627;
    font-size: 1em;
    border: 2px solid #262627;
    margin: 50px auto 0px auto;
    padding: 5px 10px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.articleForm form button:hover {
    transition-duration: 0.5s;
    padding: 5px 30px;
}

.articleForm.createCandidate form button{
    color: #f5f5f5;
    border: 2px solid #f5f5f5;
}

.searchCandidate {
    padding: 5% 2%;
}

.searchForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 40px 0;
}

.searchForm label {
    display:none;
}

.searchForm .searchIcon {
    background-color: #262627;
    border-radius: 10px 0px 0px 10px;
    padding: 7px 15px;
    color: #fff;
}

.searchForm input {
    margin: 0;
    border: 2px solid #262627;
    width: 300px;
    padding: 0px 10px; 
    border-radius: 0px 3px 3px 0px;
}

table {
    table-layout: fixed;
}

tr, td, th {
    padding: 5px;
    box-sizing: border-box;
}

.tableCandidateWithoutSession {
    table-layout: auto;
}

.tdDate {
    width: 111px;
}

.tdAccess {
    width: 75px;
}

th {
    background-color: #262627;
    color: #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

th:first-child {
    border-left: 1px solid #262627;
}

th:last-child {
    border-right: 1px solid #262627;
}

tr:nth-child(even) {
    background-color: #e0e0e0;
}

/* GET CANDIDATE */

.noShow {
    display:none;
}

.getCandidate article, .getAllCandidateWithoutSession article {
    margin-bottom: 100px;
}
.articleForm.columns-2 form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.articleForm form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.flex-inline {
    width: 100%;
}

.psychologistNote, .assistantNote {
    width: 100%;
    margin-top: 20px;
}

.psychologistNote textarea, .assistantNote textarea {
    display: block;
    width: 85%;
    margin: 0 auto;
    height: 200px;
    font-size: 1em;
    font-family: sans-serif;
}

footer {
    margin: 100px 0 0 0;
    background-color: #262627;
    width: 100%;
    text-align:center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    color: #f5f5f5;
}